/* header section */
header {
  margin: 3px;
  padding: 0px;
}
.banner {
  margin: 1px;
  border-radius: 20px;
 }

/* navigation */
nav {
	border-radius: 20px;
}
nav select {
	display: none;
}
.nav.navbar-nav li a{
	color: #fff;
	font-family: Arial;
	text-shadow: 2px 2px #9393af;
}
.nav.navbar-nav li a:hover {
	background-color: #fff;
	color: #88a5e1;
	text-shadow:0.5px 0.5px #445270;
	border-radius: 5px;
}
.nav.navbar-nav>.active>a,
.nav.navbar-nav>.active>a:focus {
	background-color: #00478f;
	border-radius: 5px;
}
.container-fluid {
	background-color: #88a5e1;
	border-radius: 20px;
}
.navbar-inverse {
	background-color: #88a5e1;
	border-radius: 20px;
	text-align: center;
}
.dropdown-menu {
	background-color: #88a5e1;
	border-radius: 20px;
	color: #fff;
}

/* body */

body {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 1.75em;
}
a {
  text-decoration: none;
  color: #ff6633;
  font-family: PT Serif, Palatino, Georgia;
  font-size: 18px;
  text-align: center;
  padding:0;
}
.image{
  float: left;
  margin: 10px 10px;
  height: 100%;
}
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
h1{
  margin: 5%;
  font-family: Georgia, Palatino, PT Serif;
  color: #ff7519;
  text-align: center;
  text-shadow:1px 1px #9393af;
  font-size: 32px;
}
h2, h3, h4, h5, h6{
  margin: 3%;
  font-family:Georgia, Palatino, PT Serif;
  color: #ff7519;
  text-align: center;
  text-shadow:1px 1px #9393af;
  font-size: 22px;
}
.click {
  margin-left: 380px;
}
.click_past{
    margin-left:300px;
}
.Titles{
  font-family: Palatino, PT Serif, Georgia;
  font-size: 20px;
  text-align: center;
  color: #ff6633;
}
.Authors{
  font-family: Palatino, PT Serif, Georgia;
  font-size: 17px;
  text-align: center;
  color: #ff6633;
}

/* Media Queries*/

@media (max-width: 810px) {
	nav ul {display: none;}
	nav select {display: inline-block;}
}

/* site footer */

footer {
  margin: 10px;
    padding:20px;
  background-color: #fff;
  color: #999;
  text-align: center;
}


